# Base de Datos PostgreSQL
POSTGRES_DB=tienda_pedidos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secret
POSTGRES_PORT=5432

# Mensajería RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin_secret
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Configuración Backend
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

# Configuración Frontend
VITE_API_URL=http://localhost:8080/api
